
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
.lightmode{
    background-color: white !important;
}
.lightmode-text{
    color: black;
}
.menu{
    font-size: 16px;
}
#body{
    background-color: #202124;
}
/* .nav-items{
    float: right;
} */
#apps{
    padding-left: 10px;
    width: 18vw;
    overflow-x: hidden;
    overflow-y:  scroll;
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
    left: 80vw; 
    position: fixed;
    top: 70px;
    display: none;
    background-color: rgba(232,234,237,.08);
    padding-top: 20px;
    border-radius: 10px;
    gap: 10px
    
}
#settings{
    min-width:10vw;
    height: 30vh;
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #202124;
    border-radius: 8px;
    box-shadow: 1px 1px 15px 0px #171717;
    position: fixed;
    left: 89vw; 
    bottom: 45px; 
    align-items: center;
    justify-content: space-between;
    display: none;
}
#search-bar{
    width: 27vw;
    height: 5vh;
    border: none
}
form{
    width: 33.3vw;
    background-color: white;
    height: 5vh;
    border-radius: 17px;
    padding-left: 10px;
    padding-right: 3px;
    margin-top: 20px;
}

#google{
    display: flex;
    flex-direction: row;
}

h1{
    font-size: 4.8rem;
    margin-bottom: 20px;
    font-family:'Poppins';
    margin-bottom: 20px;
    color: white;
    display: inline;
}
#e{
    transform: rotate(-15deg);
    color: white;

    font-size: 4.8rem;
    margin-bottom: 50px;
    font-family:'Poppins';
    margin-bottom: 20px;
    display: inline-block;
    font-weight: 900;
}
/* .apps-container{
    display: none;
} */
.show{
    display: flex !important;
}
.app{
    width: 5vw;
    height: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    text-align: center;

}
.app:hover{
    box-shadow: 1px 1px 15px 0px #171717;

}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: end;
    height: 10vh;
    align-items: center;
    gap: 10px;
    margin-right: 20px
}
.search-bar-container{
    height: 76vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
footer{
    /* height: 6vh; */
    margin-top: 30px;  
}
::-webkit-scrollbar {
    width: 0px;
  }
  #foot{
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
border-top: white;
border-top-width: 0.1px;
border-style: solid;
background-color: #171717 ;
z-index: 900;
height: 5vh;

/* height: 8vh; */
  }
  .footerone{
    display: flex;
    flex-direction: row;
    gap: 10px;
    margin-left: 10px;
  }
  .footertwo{
display: flex;
flex-direction: row;
gap: 10px;
margin-right: 10px;
  }

  a {
    all: unset;
    text-decoration: none;
    /* color: white; */
}
.links{
    color: white;
    font-weight:300
}

button{
    all: unset;
    color: white;
}

.searchmic {
    height: 24px;
    width: 24px;
    vertical-align: middle;
}
.searchcam {
    height: 24px;
    width: 24px;
    vertical-align: middle;
    display: flex;
    display: inline;
}
.imgic{
    height: 32px;
    width: 30px;
}
#off{
    display: inline-block;
    display: none;
}
#on{
    display: inline-block;
    display: block;
}
#gs{
    padding: 10px;
    margin-top: 20px;
    /* box-shadow: 1px 1px 15px 0px #171717; */
    margin-bottom: 15vh;
    background-color: #303134;
    font-size: 13px;
    border-radius: 5px;


}
#fl{
    padding: 10px;
    margin-top: 20px;
    /* box-shadow: 1px 1px 15px 0px #171717; */
    margin-bottom: 15vh;
    background-color: #303134;
    font-size: 13px;
    margin-left: 10px;
    border-radius: 5px;


}

#mor{
    margin: auto;
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
    /* padding-bottom: 7px; */
    border-style:solid;
    border-width: thin;
    /* text-decoration:underline; */
    color: #6d9cec    ;
    border-color: white;
    padding: 1px 30px 1px 30px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#mor:hover{
    
    background-color: #3C4043
    ;
    
}

.linkfooter:hover{
    text-decoration: underline;
}

.menu-butt{
/* font: 13px/27px Roboto,Arial,sans-serif; */
/* white-space: nowrap; */
/* line-height: normal; */
display: inline-block;
box-sizing: border-box;
height: 40px;
width: 40px;
padding: 8px;
color: white;
}

.menu-img{



fill: currentColor;


}

#pal{
    color: white;
    height: 5vh;
    display: flex;
    align-items: center;
    padding-left: 10px;
background-color: #171717 ;

}